$color-gray-light:#e9e8e8;
$color-gray:#dddbdb;
$color-gray-dark:#c5c4c4;

$color-primary-light:#57a6db;
$color-primary:#3498db;
$color-primary-dark:#2c82bb;


$color-black-light:rgb(59, 59, 59);
$color-black:rgb(46, 46, 46);
$color-black-dark:rgb(36,36,36);

$color-red-primary-light:#eebaba;
$color-red-primary:#f3a6a6;
$color-red-primary-dark:#eca2a2;