@import './partial-header';
@import './checkbox';
@import './radio';

.container {
  font-size: 1.6rem;
  max-width: 1300px;
  margin: 1rem auto;
  padding: 2.5rem;
  background-color: whitesmoke;
  border-radius: 5px;

  &-main {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-posts {
      flex-basis: 70%;

      &-item {
        background-color: white;
        border: 2px solid $color-gray;
        border-radius: 5px;
        width: 90%;
        overflow: hidden;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        &_header {
          .video-js {
            width: 100%;
            object-fit: cover;
            max-height: 350px;
            border-bottom: 2px solid rgb(236, 139, 74);
          }

          &_img {
            width: 100%;
            object-fit: cover;
            max-height: 350px;
            border-bottom: 2px solid rgb(236, 139, 74);
          }
        }

        &_body {
          padding: 1rem;
          a {
            text-decoration: none;
          }
          p {
            text-align: justify;
          }
        }

        &_footer {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          padding: 1rem;

          svg {
            color: red;
          }

          &_icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            align-self: flex-end;
            text-decoration: none;

            span {
              margin-right: 3px;
            }
          }

          &_view-btn {
            display: inline-block;
            text-decoration: none;
            padding: 1rem 1.2rem;
            background-color: $color-primary;
            color: white;
            border-radius: 5px;
            transition: all 0.3s ease;

            &:hover {
              background-color: $color-primary-light;
            }
          }
        }
      }
    }

    &-searchbox {
      background-color: white;
      border: 2px solid $color-gray;
      border-radius: 5px;
      flex-basis: 30%;

      &-form {
        padding: 1rem;

        &-submit {
          display: block;
          padding: 1rem 1.2rem;
          background-color: $color-primary;
          color: white;
          border: none;
          border-radius: 5px;
          width: 100%;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: $color-primary-light;
          }
        }

        border-bottom: 2px solid rgb(236, 139, 74);

        &-tags {
          list-style: none;

          border-top: 2px solid rgb(236, 199, 74);

          & h4 {
            color: gray;
          }

          & label {
            margin-right: 0;
          }
        }

        &-author {
          & label {
            color: grey;

            & h4 {
              display: inline-block;
            }
          }
        }

        &-username {
          & label {
            color: grey;

            & h4 {
              display: inline-block;
            }
          }
        }
      }

      &-advertising {
        padding: 1rem;
      }
    }
  }
}
