@import './basics';
@import './variable';
@import './checkbox';
@import './radio';

.loader {
  &--active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba($color: $color-black, $alpha: 0.8);
  & p {
    font-size: 1.8rem;
    color: white;
  }
}
.loginRegister-container {
  min-height: 100vh;
  background-image: url('../img/login_register-background.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    font-size: 1.6rem;
    background-color: rgba($color: $color-gray-light, $alpha: 0.8);
    border-radius: 5px;
    color: $color-black-dark;
    border: 3px solid $color-black-dark;
    flex-basis: 30%;
    overflow: auto;

    &_header {
      padding: 1rem 0;
      text-align: center;
      background-color: $color-primary;
      color: white;
      & h3 {
        font-size: 2rem;
        font-weight: bold;
        text-shadow: $color-primary-dark 3px 3px 3px;
      }
    }
    &_loginForm,
    &_registerForm {
      padding: 0rem 0.5rem;
      overflow: hidden;
      & input[type='text'],
      & input[type='password'],
      & input[type='email'] {
        width: 100%;
        display: block;
        border: none;
        border: 2px solid $color-gray-dark;
        font-family: Arial, sans-serif;
        border-radius: 5px;
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0.5rem;
        &:hover {
          border-color: $color-primary;
        }
        &::placeholder {
          font-family: B-nazanin;
        }
      }
      & input[type='submit'] {
        display: block;
        background-color: $color-primary;
        border: none;
        transition: transform 0.1s linear;
        &:hover {
          transform: scale(1.01);
        }
        font-weight: bold;
        text-shadow: $color-primary-dark 3px 3px 3px;
        padding: 1rem;
        font-size: 1.6rem;
        cursor: pointer;
        margin: 2rem 0;
        width: 100%;
        border-radius: 5px;
        color: white;
      }
    }
    &_loginForm {
      display: none;
      &_errorBox {
        border-radius: 5px;
        padding: 1rem 0.5rem;
        font-size: 1.6rem;
        visibility: hidden;
        color: $color-black;
        margin: 1rem 0;
        background-color: $color-red-primary-light;
        &--active {
          visibility: visible;
        }
      }
      &_registerLink {
        display: block;
        color: $color-primary;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        transition: transform 0.1s linear;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &_registerForm {
      display: block;
      &_errorBox {
        border-radius: 5px;
        padding: 1rem 0.5rem;
        font-size: 1.6rem;
        color: $color-black;
        margin: 1rem 0;
        background-color: $color-red-primary-light;
        & p {
          margin-bottom: 0.5rem;
        }
      }

      &_loginLink {
        display: block;
        color: $color-primary;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        transition: transform 0.1s linear;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .loginRegister-container {
    padding: 1rem 0;
    &-box {
      flex-basis: 90%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .loginRegister-container {
    &-box {
      flex-basis: 60%;
    }
  }
}
