@import './partial-header';

.container {
	font-size: 1.6rem;
	max-width: 1300px;
	margin: 1rem auto;
	padding: 2.5rem;
	background-color: whitesmoke;
	border-radius: 5px;

	&-post-item {
		background-color: white;
		border: 2px solid $color-gray;
		border-radius: 5px;
		width: 100%;
		overflow: hidden;

		&-addcomment {
			margin: 1rem 0;
			padding: 1rem;
			border-bottom: 2px solid rgb(236, 139, 74);

			&_btn {
				text-align: left;
			}

			& textarea {
				width: 100%;
				resize: none;
				border: 2px solid $color-gray;
				border-radius: 5px;
				padding: 0.5rem;

				&:focus {
					outline: none;
				}
			}

			& button {
				display: inline-block;
				padding: 1rem 2rem;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				margin: 1rem 0;
				color: white;
				background-color: $color-primary;

				&:hover {
					background-color: $color-primary-light;
				}
			}
		}

		&_header {
			.video-js {
				width: 100%;
				object-fit: cover;
				max-height: 350px;
				border-bottom: 2px solid rgb(236, 139, 74);
			}

			& img {
				width: 100%;
				object-fit: cover;
				max-height: 350px;
				border-bottom: 2px solid rgb(236, 139, 74);
			}
		}

		&_body {
			padding: 1rem;
			border-bottom: 2px solid rgb(236, 139, 74);

			p {
				text-align: justify;
			}
		}

		&-comments {
			padding: 0.7rem 1rem;

			&_item {
				position: relative;
				margin-bottom: 3rem;
				background-color: white;
				border: 2px solid $color-primary-dark;
				padding: 1rem;
				border-radius: 5px;

				&_counter {
					position: absolute;
					top: -1rem;
					right: -1rem;
					background-color: white;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid $color-primary-light;
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}