@font-face {
  font-family: B-nazanin;
  src: url("../fonts/B-Nazanin.ttf"); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: inherit;
  scrollbar-highlight-color: none;
  -webkit-tap-highlight-color: none; }

*:focus {
  outline: none; }

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: B-nazanin, Arial, Helvetica, sans-serif;
  direction: rtl; }

.primary-input {
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0.4rem 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mt-2 {
  margin-top: 1rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mt-4 {
  margin-top: 2rem; }

.mt-5 {
  margin-top: 3rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 1rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mr-4 {
  margin-right: 2rem; }

.mr-5 {
  margin-right: 3rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 1rem; }

.ml-3 {
  margin-left: 1.5rem; }

.ml-4 {
  margin-left: 2rem; }

.ml-5 {
  margin-left: 3rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 3rem; }

.m-1 {
  margin: 0.5rem; }

.m-2 {
  margin: 1rem; }

.m-3 {
  margin: 1.5rem; }

.m-4 {
  margin: 2rem; }

.m-5 {
  margin: 3rem; }

.text-align-center {
  text-align: center; }

.header {
  background-color: #2c82bb;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between; }
  .header-imgbox {
    width: 60px;
    height: 60px;
    display: flex; }
    .header-imgbox span {
      font-size: 1.2rem;
      color: whitesmoke;
      align-self: center;
      margin-right: 10px; }
    .header-imgbox img {
      width: 100%;
      height: 100%;
      border: 2px solid whitesmoke;
      border-radius: 50%; }
  .header-operation a {
    margin-right: 0.75rem;
    display: inline-block;
    color: whitesmoke; }
    .header-operation a:hover {
      color: #dddbdb; }
  .header-operation_bell {
    position: relative;
    cursor: pointer; }
    .header-operation_bell_notif-count {
      position: absolute;
      border-radius: 50%;
      cursor: auto;
      padding: 1px 4px;
      top: -15px;
      left: -5px;
      font-size: 1.2rem;
      background: red; }
    .header-operation_bell .header-operation-request-box {
      z-index: 2;
      cursor: auto;
      display: none;
      height: 95px;
      background-color: black;
      color: white;
      font-size: 1.2rem;
      border-radius: 5px;
      position: absolute;
      top: 100%;
      left: 0; }
      .header-operation_bell .header-operation-request-box ul {
        list-style: none; }
        .header-operation_bell .header-operation-request-box ul li:not(:last-child) {
          border-bottom: 2px solid white;
          margin-bottom: 5px; }
        .header-operation_bell .header-operation-request-box ul li {
          display: flex;
          padding: 5px;
          direction: ltr; }
          .header-operation_bell .header-operation-request-box ul li img {
            width: 32px;
            display: inline-block;
            height: 32px;
            margin-right: 5px;
            border-radius: 50%;
            border: 2px solid white; }
          .header-operation_bell .header-operation-request-box ul li span {
            align-self: center; }
          .header-operation_bell .header-operation-request-box ul li div {
            margin-left: 10px;
            display: flex;
            align-self: center; }
            .header-operation_bell .header-operation-request-box ul li div form button {
              background: transparent;
              border: none;
              margin: 0 5px;
              cursor: pointer; }
              .header-operation_bell .header-operation-request-box ul li div form button .fa-check-circle {
                color: #219221; }
              .header-operation_bell .header-operation-request-box ul li div form button .fa-times-circle {
                color: red; }
  .header-searchbox {
    flex-basis: 30%;
    position: relative; }
    .header-searchbox-result {
      position: absolute;
      z-index: 2;
      direction: ltr;
      top: 110%;
      left: 0px;
      width: 100%;
      background: black;
      color: white;
      border-radius: 5px;
      font-size: 1.2rem; }
      .header-searchbox-result ul {
        list-style: none; }
        .header-searchbox-result ul li {
          padding: 5px; }
          .header-searchbox-result ul li a {
            text-decoration: none;
            display: flex; }
            .header-searchbox-result ul li a img {
              display: inline-block;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              border: 2px solid white;
              margin-right: 10px; }
            .header-searchbox-result ul li a span {
              align-self: center; }
        .header-searchbox-result ul li:not(:last-child) {
          border-bottom: 2px solid gray; }
    .header-searchbox-content {
      position: relative;
      width: 100%; }
      .header-searchbox-content input {
        padding: 0.5rem 0.75rem;
        width: 100%;
        border: none;
        border-radius: 10px;
        font-size: 1.6rem; }
      .header-searchbox-content_icon {
        cursor: pointer;
        position: absolute;
        width: 32px;
        left: 0;
        top: 1px;
        border: none;
        height: 100%;
        background-color: transparent; }
        .header-searchbox-content_icon:hover svg {
          color: #3498db; }
        .header-searchbox-content_icon svg {
          color: #2c82bb; }

.primary__checkbox {
  display: flex;
  align-items: center;
  margin-right: 0.5rem; }
  .primary__checkbox input {
    appearance: none;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    overflow: hidden; }
    .primary__checkbox input::before {
      display: block;
      content: '';
      width: 20px;
      height: 18px;
      border: 2px solid #3498db; }
    .primary__checkbox input::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: transparent;
      box-shadow: 4px 4px 0px 0px #57a6db;
      transform-origin: 50% 50%;
      opacity: 0;
      transform: rotate(45deg) translate(-158%, -48%);
      transition: opacity .3s linear;
      width: 8px;
      height: 15px; }
    .primary__checkbox input:checked::after {
      opacity: 1; }

.primary__radio {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem; }
  .primary__radio input {
    appearance: none;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    overflow: hidden; }
    .primary__radio input::before {
      display: block;
      content: '';
      width: 20px;
      height: 18px;
      border: 2px solid #3498db;
      border-radius: 50%; }
    .primary__radio input::after {
      content: '';
      display: block;
      position: absolute;
      left: 25%;
      top: 28%;
      background-color: #57a6db;
      opacity: 0;
      border-radius: 50%;
      transition: opacity .3s linear;
      width: 10px;
      height: 8px; }
    .primary__radio input:checked::after {
      opacity: 1; }

.container {
  font-size: 1.6rem;
  max-width: 1300px;
  margin: 1rem auto;
  padding: 2.5rem;
  background-color: whitesmoke;
  border-radius: 5px; }
  .container-main {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .container-main-posts {
      flex-basis: 70%; }
      .container-main-posts-item {
        background-color: white;
        border: 2px solid #dddbdb;
        border-radius: 5px;
        width: 90%;
        overflow: hidden; }
        .container-main-posts-item:not(:last-child) {
          margin-bottom: 3rem; }
        .container-main-posts-item_header .video-js {
          width: 100%;
          object-fit: cover;
          max-height: 350px;
          border-bottom: 2px solid #ec8b4a; }
        .container-main-posts-item_header_img {
          width: 100%;
          object-fit: cover;
          max-height: 350px;
          border-bottom: 2px solid #ec8b4a; }
        .container-main-posts-item_body {
          padding: 1rem; }
          .container-main-posts-item_body a {
            text-decoration: none; }
          .container-main-posts-item_body p {
            text-align: justify; }
        .container-main-posts-item_footer {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          padding: 1rem; }
          .container-main-posts-item_footer svg {
            color: red; }
          .container-main-posts-item_footer_icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            align-self: flex-end;
            text-decoration: none; }
            .container-main-posts-item_footer_icon span {
              margin-right: 3px; }
          .container-main-posts-item_footer_view-btn {
            display: inline-block;
            text-decoration: none;
            padding: 1rem 1.2rem;
            background-color: #3498db;
            color: white;
            border-radius: 5px;
            transition: all 0.3s ease; }
            .container-main-posts-item_footer_view-btn:hover {
              background-color: #57a6db; }
    .container-main-searchbox {
      background-color: white;
      border: 2px solid #dddbdb;
      border-radius: 5px;
      flex-basis: 30%; }
      .container-main-searchbox-form {
        padding: 1rem;
        border-bottom: 2px solid #ec8b4a; }
        .container-main-searchbox-form-submit {
          display: block;
          padding: 1rem 1.2rem;
          background-color: #3498db;
          color: white;
          border: none;
          border-radius: 5px;
          width: 100%;
          font-weight: bold;
          cursor: pointer; }
          .container-main-searchbox-form-submit:hover {
            background-color: #57a6db; }
        .container-main-searchbox-form-tags {
          list-style: none;
          border-top: 2px solid #ecc74a; }
          .container-main-searchbox-form-tags h4 {
            color: gray; }
          .container-main-searchbox-form-tags label {
            margin-right: 0; }
        .container-main-searchbox-form-author label {
          color: grey; }
          .container-main-searchbox-form-author label h4 {
            display: inline-block; }
        .container-main-searchbox-form-username label {
          color: grey; }
          .container-main-searchbox-form-username label h4 {
            display: inline-block; }
      .container-main-searchbox-advertising {
        padding: 1rem; }
