@font-face {
  font-family: B-nazanin;
  src: url("../fonts/B-Nazanin.ttf"); }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: inherit;
  scrollbar-highlight-color: none;
  -webkit-tap-highlight-color: none; }

*:focus {
  outline: none; }

html, body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: B-nazanin,Arial, Helvetica, sans-serif;
  direction: rtl; }

.primary__checkbox {
  display: flex;
  align-items: center;
  margin-right: 0.5rem; }
  .primary__checkbox input {
    appearance: none;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    overflow: hidden; }
    .primary__checkbox input::before {
      display: block;
      content: '';
      width: 20px;
      height: 18px;
      border: 2px solid #3498db; }
    .primary__checkbox input::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: transparent;
      box-shadow: 4px 4px 0px 0px #57a6db;
      transform-origin: 50% 50%;
      opacity: 0;
      transform: rotate(45deg) translate(-158%, -48%);
      transition: opacity .3s linear;
      width: 8px;
      height: 15px; }
    .primary__checkbox input:checked::after {
      opacity: 1; }

.primary__radio {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem; }
  .primary__radio input {
    appearance: none;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    overflow: hidden; }
    .primary__radio input::before {
      display: block;
      content: '';
      width: 20px;
      height: 18px;
      border: 2px solid #3498db;
      border-radius: 50%; }
    .primary__radio input::after {
      content: '';
      display: block;
      position: absolute;
      left: 25%;
      top: 28%;
      background-color: #57a6db;
      opacity: 0;
      border-radius: 50%;
      transition: opacity .3s linear;
      width: 10px;
      height: 8px; }
    .primary__radio input:checked::after {
      opacity: 1; }

.loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(46, 46, 46, 0.8); }
  .loader--active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .loader p {
    font-size: 1.8rem;
    color: white; }

.loginRegister-container {
  min-height: 100vh;
  background-image: url("../img/login_register-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loginRegister-container-box {
    font-size: 1.6rem;
    background-color: rgba(233, 232, 232, 0.8);
    border-radius: 5px;
    color: #242424;
    border: 3px solid #242424;
    flex-basis: 30%;
    overflow: auto; }
    .loginRegister-container-box_header {
      padding: 1rem 0;
      text-align: center;
      background-color: #3498db;
      color: white; }
      .loginRegister-container-box_header h3 {
        font-size: 2rem;
        font-weight: bold;
        text-shadow: #2c82bb 3px 3px 3px; }
    .loginRegister-container-box_loginForm, .loginRegister-container-box_registerForm {
      padding: 0rem 0.5rem;
      overflow: hidden; }
      .loginRegister-container-box_loginForm input[type='text'],
      .loginRegister-container-box_loginForm input[type='password'],
      .loginRegister-container-box_loginForm input[type='email'], .loginRegister-container-box_registerForm input[type='text'],
      .loginRegister-container-box_registerForm input[type='password'],
      .loginRegister-container-box_registerForm input[type='email'] {
        width: 100%;
        display: block;
        border: none;
        border: 2px solid #c5c4c4;
        font-family: Arial, sans-serif;
        border-radius: 5px;
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0.5rem; }
        .loginRegister-container-box_loginForm input[type='text']:hover,
        .loginRegister-container-box_loginForm input[type='password']:hover,
        .loginRegister-container-box_loginForm input[type='email']:hover, .loginRegister-container-box_registerForm input[type='text']:hover,
        .loginRegister-container-box_registerForm input[type='password']:hover,
        .loginRegister-container-box_registerForm input[type='email']:hover {
          border-color: #3498db; }
        .loginRegister-container-box_loginForm input[type='text']::placeholder,
        .loginRegister-container-box_loginForm input[type='password']::placeholder,
        .loginRegister-container-box_loginForm input[type='email']::placeholder, .loginRegister-container-box_registerForm input[type='text']::placeholder,
        .loginRegister-container-box_registerForm input[type='password']::placeholder,
        .loginRegister-container-box_registerForm input[type='email']::placeholder {
          font-family: B-nazanin; }
      .loginRegister-container-box_loginForm input[type='submit'], .loginRegister-container-box_registerForm input[type='submit'] {
        display: block;
        background-color: #3498db;
        border: none;
        transition: transform 0.1s linear;
        font-weight: bold;
        text-shadow: #2c82bb 3px 3px 3px;
        padding: 1rem;
        font-size: 1.6rem;
        cursor: pointer;
        margin: 2rem 0;
        width: 100%;
        border-radius: 5px;
        color: white; }
        .loginRegister-container-box_loginForm input[type='submit']:hover, .loginRegister-container-box_registerForm input[type='submit']:hover {
          transform: scale(1.01); }
    .loginRegister-container-box_loginForm {
      display: none; }
      .loginRegister-container-box_loginForm_errorBox {
        border-radius: 5px;
        padding: 1rem 0.5rem;
        font-size: 1.6rem;
        visibility: hidden;
        color: #2e2e2e;
        margin: 1rem 0;
        background-color: #eebaba; }
        .loginRegister-container-box_loginForm_errorBox--active {
          visibility: visible; }
      .loginRegister-container-box_loginForm_registerLink {
        display: block;
        color: #3498db;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        transition: transform 0.1s linear; }
        .loginRegister-container-box_loginForm_registerLink:hover {
          transform: scale(1.1); }
    .loginRegister-container-box_registerForm {
      display: block; }
      .loginRegister-container-box_registerForm_errorBox {
        border-radius: 5px;
        padding: 1rem 0.5rem;
        font-size: 1.6rem;
        color: #2e2e2e;
        margin: 1rem 0;
        background-color: #eebaba; }
        .loginRegister-container-box_registerForm_errorBox p {
          margin-bottom: 0.5rem; }
      .loginRegister-container-box_registerForm_loginLink {
        display: block;
        color: #3498db;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        transition: transform 0.1s linear; }
        .loginRegister-container-box_registerForm_loginLink:hover {
          transform: scale(1.1); }

@media (max-width: 768px) {
  .loginRegister-container {
    padding: 1rem 0; }
    .loginRegister-container-box {
      flex-basis: 90%; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .loginRegister-container-box {
    flex-basis: 60%; } }
