@font-face {
  font-family: B-nazanin;
  src: url("../fonts/B-Nazanin.ttf"); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: inherit;
  scrollbar-highlight-color: none;
  -webkit-tap-highlight-color: none; }

*:focus {
  outline: none; }

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: B-nazanin, Arial, Helvetica, sans-serif;
  direction: rtl; }

.primary-input {
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0.4rem 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mt-2 {
  margin-top: 1rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mt-4 {
  margin-top: 2rem; }

.mt-5 {
  margin-top: 3rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 1rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mr-4 {
  margin-right: 2rem; }

.mr-5 {
  margin-right: 3rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 1rem; }

.ml-3 {
  margin-left: 1.5rem; }

.ml-4 {
  margin-left: 2rem; }

.ml-5 {
  margin-left: 3rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 3rem; }

.m-1 {
  margin: 0.5rem; }

.m-2 {
  margin: 1rem; }

.m-3 {
  margin: 1.5rem; }

.m-4 {
  margin: 2rem; }

.m-5 {
  margin: 3rem; }

.text-align-center {
  text-align: center; }

.header {
  background-color: #2c82bb;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between; }
  .header-imgbox {
    width: 60px;
    height: 60px;
    display: flex; }
    .header-imgbox span {
      font-size: 1.2rem;
      color: whitesmoke;
      align-self: center;
      margin-right: 10px; }
    .header-imgbox img {
      width: 100%;
      height: 100%;
      border: 2px solid whitesmoke;
      border-radius: 50%; }
  .header-operation a {
    margin-right: 0.75rem;
    display: inline-block;
    color: whitesmoke; }
    .header-operation a:hover {
      color: #dddbdb; }
  .header-operation_bell {
    position: relative;
    cursor: pointer; }
    .header-operation_bell_notif-count {
      position: absolute;
      border-radius: 50%;
      cursor: auto;
      padding: 1px 4px;
      top: -15px;
      left: -5px;
      font-size: 1.2rem;
      background: red; }
    .header-operation_bell .header-operation-request-box {
      z-index: 2;
      cursor: auto;
      display: none;
      height: 95px;
      background-color: black;
      color: white;
      font-size: 1.2rem;
      border-radius: 5px;
      position: absolute;
      top: 100%;
      left: 0; }
      .header-operation_bell .header-operation-request-box ul {
        list-style: none; }
        .header-operation_bell .header-operation-request-box ul li:not(:last-child) {
          border-bottom: 2px solid white;
          margin-bottom: 5px; }
        .header-operation_bell .header-operation-request-box ul li {
          display: flex;
          padding: 5px;
          direction: ltr; }
          .header-operation_bell .header-operation-request-box ul li img {
            width: 32px;
            display: inline-block;
            height: 32px;
            margin-right: 5px;
            border-radius: 50%;
            border: 2px solid white; }
          .header-operation_bell .header-operation-request-box ul li span {
            align-self: center; }
          .header-operation_bell .header-operation-request-box ul li div {
            margin-left: 10px;
            display: flex;
            align-self: center; }
            .header-operation_bell .header-operation-request-box ul li div form button {
              background: transparent;
              border: none;
              margin: 0 5px;
              cursor: pointer; }
              .header-operation_bell .header-operation-request-box ul li div form button .fa-check-circle {
                color: #219221; }
              .header-operation_bell .header-operation-request-box ul li div form button .fa-times-circle {
                color: red; }
  .header-searchbox {
    flex-basis: 30%;
    position: relative; }
    .header-searchbox-result {
      position: absolute;
      z-index: 2;
      direction: ltr;
      top: 110%;
      left: 0px;
      width: 100%;
      background: black;
      color: white;
      border-radius: 5px;
      font-size: 1.2rem; }
      .header-searchbox-result ul {
        list-style: none; }
        .header-searchbox-result ul li {
          padding: 5px; }
          .header-searchbox-result ul li a {
            text-decoration: none;
            display: flex; }
            .header-searchbox-result ul li a img {
              display: inline-block;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              border: 2px solid white;
              margin-right: 10px; }
            .header-searchbox-result ul li a span {
              align-self: center; }
        .header-searchbox-result ul li:not(:last-child) {
          border-bottom: 2px solid gray; }
    .header-searchbox-content {
      position: relative;
      width: 100%; }
      .header-searchbox-content input {
        padding: 0.5rem 0.75rem;
        width: 100%;
        border: none;
        border-radius: 10px;
        font-size: 1.6rem; }
      .header-searchbox-content_icon {
        cursor: pointer;
        position: absolute;
        width: 32px;
        left: 0;
        top: 1px;
        border: none;
        height: 100%;
        background-color: transparent; }
        .header-searchbox-content_icon:hover svg {
          color: #3498db; }
        .header-searchbox-content_icon svg {
          color: #2c82bb; }

.container {
  font-size: 1.6rem;
  max-width: 1300px;
  margin: 1rem auto;
  padding: 2.5rem;
  background-color: whitesmoke;
  border-radius: 5px; }
  .container-post-item {
    background-color: white;
    border: 2px solid #dddbdb;
    border-radius: 5px;
    width: 100%;
    overflow: hidden; }
    .container-post-item-addcomment {
      margin: 1rem 0;
      padding: 1rem;
      border-bottom: 2px solid #ec8b4a; }
      .container-post-item-addcomment_btn {
        text-align: left; }
      .container-post-item-addcomment textarea {
        width: 100%;
        resize: none;
        border: 2px solid #dddbdb;
        border-radius: 5px;
        padding: 0.5rem; }
        .container-post-item-addcomment textarea:focus {
          outline: none; }
      .container-post-item-addcomment button {
        display: inline-block;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 1rem 0;
        color: white;
        background-color: #3498db; }
        .container-post-item-addcomment button:hover {
          background-color: #57a6db; }
    .container-post-item_header .video-js {
      width: 100%;
      object-fit: cover;
      max-height: 350px;
      border-bottom: 2px solid #ec8b4a; }
    .container-post-item_header img {
      width: 100%;
      object-fit: cover;
      max-height: 350px;
      border-bottom: 2px solid #ec8b4a; }
    .container-post-item_body {
      padding: 1rem;
      border-bottom: 2px solid #ec8b4a; }
      .container-post-item_body p {
        text-align: justify; }
    .container-post-item-comments {
      padding: 0.7rem 1rem; }
      .container-post-item-comments_item {
        position: relative;
        margin-bottom: 3rem;
        background-color: white;
        border: 2px solid #2c82bb;
        padding: 1rem;
        border-radius: 5px; }
        .container-post-item-comments_item_counter {
          position: absolute;
          top: -1rem;
          right: -1rem;
          background-color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #57a6db;
          width: 25px;
          height: 25px; }
