@font-face {
  font-family: B-nazanin;
  src: url("../fonts/B-Nazanin.ttf"); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: inherit;
  scrollbar-highlight-color: none;
  -webkit-tap-highlight-color: none; }

*:focus {
  outline: none; }

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: B-nazanin, Arial, Helvetica, sans-serif;
  direction: rtl; }

.primary-input {
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0.4rem 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mt-2 {
  margin-top: 1rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mt-4 {
  margin-top: 2rem; }

.mt-5 {
  margin-top: 3rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 1rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mr-4 {
  margin-right: 2rem; }

.mr-5 {
  margin-right: 3rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 1rem; }

.ml-3 {
  margin-left: 1.5rem; }

.ml-4 {
  margin-left: 2rem; }

.ml-5 {
  margin-left: 3rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 3rem; }

.m-1 {
  margin: 0.5rem; }

.m-2 {
  margin: 1rem; }

.m-3 {
  margin: 1.5rem; }

.m-4 {
  margin: 2rem; }

.m-5 {
  margin: 3rem; }

.text-align-center {
  text-align: center; }

.header {
  background-color: #2c82bb;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between; }
  .header-imgbox {
    width: 60px;
    height: 60px;
    display: flex; }
    .header-imgbox span {
      font-size: 1.2rem;
      color: whitesmoke;
      align-self: center;
      margin-right: 10px; }
    .header-imgbox img {
      width: 100%;
      height: 100%;
      border: 2px solid whitesmoke;
      border-radius: 50%; }
  .header-operation a {
    margin-right: 0.75rem;
    display: inline-block;
    color: whitesmoke; }
    .header-operation a:hover {
      color: #dddbdb; }
  .header-operation_bell {
    position: relative;
    cursor: pointer; }
    .header-operation_bell_notif-count {
      position: absolute;
      border-radius: 50%;
      cursor: auto;
      padding: 1px 4px;
      top: -15px;
      left: -5px;
      font-size: 1.2rem;
      background: red; }
    .header-operation_bell .header-operation-request-box {
      z-index: 2;
      cursor: auto;
      display: none;
      height: 95px;
      background-color: black;
      color: white;
      font-size: 1.2rem;
      border-radius: 5px;
      position: absolute;
      top: 100%;
      left: 0; }
      .header-operation_bell .header-operation-request-box ul {
        list-style: none; }
        .header-operation_bell .header-operation-request-box ul li:not(:last-child) {
          border-bottom: 2px solid white;
          margin-bottom: 5px; }
        .header-operation_bell .header-operation-request-box ul li {
          display: flex;
          padding: 5px;
          direction: ltr; }
          .header-operation_bell .header-operation-request-box ul li img {
            width: 32px;
            display: inline-block;
            height: 32px;
            margin-right: 5px;
            border-radius: 50%;
            border: 2px solid white; }
          .header-operation_bell .header-operation-request-box ul li span {
            align-self: center; }
          .header-operation_bell .header-operation-request-box ul li div {
            margin-left: 10px;
            display: flex;
            align-self: center; }
            .header-operation_bell .header-operation-request-box ul li div form button {
              background: transparent;
              border: none;
              margin: 0 5px;
              cursor: pointer; }
              .header-operation_bell .header-operation-request-box ul li div form button .fa-check-circle {
                color: #219221; }
              .header-operation_bell .header-operation-request-box ul li div form button .fa-times-circle {
                color: red; }
  .header-searchbox {
    flex-basis: 30%;
    position: relative; }
    .header-searchbox-result {
      position: absolute;
      z-index: 2;
      direction: ltr;
      top: 110%;
      left: 0px;
      width: 100%;
      background: black;
      color: white;
      border-radius: 5px;
      font-size: 1.2rem; }
      .header-searchbox-result ul {
        list-style: none; }
        .header-searchbox-result ul li {
          padding: 5px; }
          .header-searchbox-result ul li a {
            text-decoration: none;
            display: flex; }
            .header-searchbox-result ul li a img {
              display: inline-block;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              border: 2px solid white;
              margin-right: 10px; }
            .header-searchbox-result ul li a span {
              align-self: center; }
        .header-searchbox-result ul li:not(:last-child) {
          border-bottom: 2px solid gray; }
    .header-searchbox-content {
      position: relative;
      width: 100%; }
      .header-searchbox-content input {
        padding: 0.5rem 0.75rem;
        width: 100%;
        border: none;
        border-radius: 10px;
        font-size: 1.6rem; }
      .header-searchbox-content_icon {
        cursor: pointer;
        position: absolute;
        width: 32px;
        left: 0;
        top: 1px;
        border: none;
        height: 100%;
        background-color: transparent; }
        .header-searchbox-content_icon:hover svg {
          color: #3498db; }
        .header-searchbox-content_icon svg {
          color: #2c82bb; }

.profile {
  font-size: 1.6rem;
  padding: 2rem 1rem;
  max-width: 1100px;
  margin: 1rem auto;
  background-color: whitesmoke;
  border-radius: 5px; }
  .profile-tab {
    margin-top: 1rem;
    display: none; }
    .profile-tab > * {
      padding: 1rem;
      background-color: white;
      border-radius: 5px;
      margin-top: 1rem; }
    .profile-tab.show {
      display: block; }
    .profile-tab-nav {
      list-style: none;
      font-size: 0;
      border-bottom: 1px solid #ecc74a; }
      .profile-tab-nav li {
        font-size: 1.6rem;
        display: inline-block; }
        .profile-tab-nav li a {
          padding: 0 0.75rem;
          border: 1px solid transparent;
          text-decoration: none; }
        .profile-tab-nav li a.active {
          background-color: whitesmoke;
          border-color: #ec8b4a;
          border-bottom-color: transparent; }
  .profile .change-info-form {
    background-color: white; }
    .profile .change-info-form input {
      width: 30%;
      margin-left: 1rem;
      padding: 0.4rem 1rem; }
    .profile .change-info-form-submit {
      text-align: left; }
      .profile .change-info-form-submit_btn {
        display: inline-block;
        padding: 1rem 1.2rem;
        background-color: #2d792d;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px; }
        .profile .change-info-form-submit_btn:hover {
          background-color: #358a35; }
  .profile .change-image-form {
    background-color: white;
    margin-top: 3rem; }
    .profile .change-image-form input {
      width: 0;
      height: 0; }
    .profile .change-image-form label {
      background-color: #3498db;
      padding: 1rem 1.2rem;
      display: inline-block;
      cursor: pointer;
      color: white;
      border-radius: 5px; }
      .profile .change-image-form label:hover {
        background-color: #57a6db; }
    .profile .change-image-form-submit {
      text-align: left; }
      .profile .change-image-form-submit_btn {
        display: inline-block;
        padding: 1rem 1.2rem;
        cursor: pointer;
        background-color: #2d792d;
        color: white;
        border: none;
        border-radius: 5px; }
        .profile .change-image-form-submit_btn:hover {
          background-color: #358a35; }
  .profile .see-statistics-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white; }
    .profile .see-statistics-box-item {
      flex-basis: 30%;
      align-self: stretch;
      border: 2px solid #dddbdb;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      @media (max-width: 678px) {
        .profile .see-statistics-box-item {
          flex-basis: 40%; } }
      @media (max-width: 550px) {
        .profile .see-statistics-box-item {
          flex-basis: 100%; } }
      .profile .see-statistics-box-item:not(:last-child) {
        margin-left: 1rem; }
      .profile .see-statistics-box-item_header {
        font-size: 0; }
        .profile .see-statistics-box-item_header img {
          width: 100%;
          object-fit: cover;
          max-height: 200px;
          border-bottom: 2px solid #ec8b4a; }
        .profile .see-statistics-box-item_header .video-js {
          width: 100%;
          object-fit: cover;
          max-height: 200px;
          border-bottom: 2px solid #ec8b4a; }
      .profile .see-statistics-box-item_body {
        padding: 1rem; }
        .profile .see-statistics-box-item_body p {
          text-align: justify; }
      .profile .see-statistics-box-item_footer {
        display: flex;
        padding: 1rem;
        margin-top: auto;
        align-items: center;
        justify-content: space-between; }
        .profile .see-statistics-box-item_footer > a {
          display: flex;
          align-items: center;
          align-self: center;
          cursor: pointer; }
        .profile .see-statistics-box-item_footer button {
          border: none;
          cursor: pointer;
          background: transparent; }
        .profile .see-statistics-box-item_footer svg.fa-trash {
          color: #ec8b4a; }
        .profile .see-statistics-box-item_footer svg.fa-heart {
          color: red; }
        .profile .see-statistics-box-item_footer svg.fa-comment {
          color: #3b3b3b; }
  .profile .add-post-box-form input[type='file'] {
    width: 0;
    height: 0; }
  .profile .add-post-box-form label.image-label {
    background-color: #3498db;
    padding: 1rem 1.2rem;
    display: inline-block;
    cursor: pointer;
    color: white;
    border-radius: 5px; }
    .profile .add-post-box-form label.image-label:hover {
      background-color: #57a6db; }
  .profile .request-box {
    text-align: center;
    margin-bottom: 30px; }
    .profile .request-box_btn_pending {
      width: 100%;
      background-color: #ecec34;
      color: black;
      border: none;
      padding: 1.2rem 1.4rem;
      border-radius: 5px;
      margin-bottom: 10px;
      display: inline-block;
      cursor: pointer; }
    .profile .request-box_btn_pending:hover {
      background-color: #dfdf21; }
    .profile .request-box_btn_follow {
      width: 100%;
      background-color: #229122;
      color: white;
      border: none;
      padding: 1.2rem 1.4rem;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
      cursor: pointer; }
    .profile .request-box_btn_follow:hover {
      background-color: #0c830c; }
    .profile .request-box_btn_unfollow {
      width: 100%;
      background-color: #a52222;
      color: white;
      border: none;
      padding: 1.2rem 1.4rem;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
      cursor: pointer; }
    .profile .request-box_btn_unfollow:hover {
      background-color: #970c0c; }
  .profile .another-user {
    text-align: center; }
    .profile .another-user-image {
      display: inline-block;
      width: 100%; }
      .profile .another-user-image img {
        width: 25%;
        border-radius: 50%; }
      .profile .another-user-image img.online {
        border: 5px solid #229122; }
      .profile .another-user-image img.offline {
        border: 5px solid #b42222; }
    .profile .another-user-info h3 {
      margin: 10px 0; }
      .profile .another-user-info h3 span {
        font-weight: 300; }
    .profile .another-user-posts {
      margin-top: 20px; }
      .profile .another-user-posts img {
        width: 25%;
        display: inline-block; }
      .profile .another-user-posts-box {
        display: flex;
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white; }
        .profile .another-user-posts-box-item {
          flex-basis: 30%;
          align-self: stretch;
          border: 2px solid #dddbdb;
          border-radius: 5px;
          margin-bottom: 20px;
          overflow: hidden;
          display: flex;
          flex-direction: column; }
          @media (max-width: 678px) {
            .profile .another-user-posts-box-item {
              flex-basis: 40%; } }
          @media (max-width: 550px) {
            .profile .another-user-posts-box-item {
              flex-basis: 100%; } }
          .profile .another-user-posts-box-item:not(:last-child) {
            margin-left: 1rem; }
          .profile .another-user-posts-box-item_header {
            font-size: 0; }
            .profile .another-user-posts-box-item_header img {
              width: 100%;
              object-fit: cover;
              max-height: 200px;
              border-bottom: 2px solid #ec8b4a; }
            .profile .another-user-posts-box-item_header .video-js {
              width: 100%;
              object-fit: cover;
              max-height: 200px;
              border-bottom: 2px solid #ec8b4a; }
          .profile .another-user-posts-box-item_body {
            padding: 1rem; }
            .profile .another-user-posts-box-item_body p {
              text-align: justify; }
          .profile .another-user-posts-box-item_footer {
            display: flex;
            padding: 1rem;
            margin-top: auto;
            align-items: center;
            justify-content: space-between; }
            .profile .another-user-posts-box-item_footer > a {
              display: flex;
              align-items: center;
              align-self: center;
              cursor: pointer; }
            .profile .another-user-posts-box-item_footer svg.fa-heart {
              color: red; }
            .profile .another-user-posts-box-item_footer svg.fa-comment {
              color: #3b3b3b; }
